# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GD1P03-Assessment1-Matthew-Bartlett/FileContentIndex/3c5e498e-89b0-45d9-aa06-5ac1eac5df0c.vsidx
.vs/GD1P03-Assessment1-Matthew-Bartlett/FileContentIndex/3d7c2bb5-f385-4eb8-83a6-2984976e8ca8.vsidx
.vs/GD1P03-Assessment1-Matthew-Bartlett/FileContentIndex/5dbf06fb-5a6e-4693-a7d0-b843c78791d7.vsidx
.vs/GD1P03-Assessment1-Matthew-Bartlett/FileContentIndex/6ecb847e-a8d2-4679-adb3-5fa30b3c6486.vsidx
.vs/GD1P03-Assessment1-Matthew-Bartlett/FileContentIndex/ee0d0e36-796d-43fd-9f4b-78e2b5534127.vsidx
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/.suo
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Browse.VC.db
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Browse.VC.db-shm
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Browse.VC.db-wal
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Browse.VC.opendb
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/DocumentLayout.backup.json
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/DocumentLayout.json
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/fileList.bin
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/14a2b72985967659/CPHYSICSOBJECT.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/1a3b6ff2e74b2f39/CANIMATIONSLIDING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/1bc6bb5a1f86e5cc/MAIN.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/27396fb661c433b1/CUPDATEABLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/2af32889126eeb51/CPLAYERINPUT.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/2bdc6a038ca4d313/CPLAYERCHARACTER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/2e2646b007960e1d/PLAYER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/4b028b7af312e3aa/MAIN.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/5065f60d1b1562c8/CANIMATOR.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/506b4bba4a18a859/GAMEMANAGER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/55a242dc402bc367/CDRAWABLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/5e5162b500893508/CPLAYERINPUT.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/5f003ab876e6ea07/CANIMATIONJUMPING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/5fa461ed9755cd95/CCOLORPICKER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/644d63c77f1d07d2/CANIMATIONJUMPING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/6791bb631c00973c/CANIMATION.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/750dba83a47b30c0/CPLAYERCHARACTER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/761d8c952d6efdb8/CANIMATIONSLIDING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/7978c0dea53f0cc1/GAMEOBJECT.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/7b49e8f96e53621f/CIDLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/7f6bc4014af7b56e/CDRAWUPDATE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/9c7bbf847aa31eb2/CDRAWABLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/b1818fb2d75f4480/CGAMEOBJECT.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/b18677bab557bced/CANIMATION.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/b75d1647f9811111/CANIMATOR.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/b81494457620489d/CANIMATIONRUNNING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/be8d0e917ef64cae/CPLAYERCHARACTER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/c611b573345df337/CSAVEBUTTON.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/c726366d8b38183a/CIDLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/cc13dc029feca19e/CGAMEMANAGER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/cf47c0c3b6576468/CUPDATEABLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/dc376aac0ed83516/CLINETOOLBUTTON.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/df4af6936742e2d/CCOLORPICKERBUTTON.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/e183c11386625d0b/CGAMEMANAGER.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/e7d84efe9147b227/CANIMATIONIDLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/e8a551edd72f7d94/CANIMATIONRUNNING.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/f7d8c12718dfe072/CANIMATIONIDLE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/ipch/AutoPCH/f9878311e8a9c58d/CFILEINTERFACE.ipch
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Solution.VC.db
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Solution.VC.db-shm
.vs/GD1P03-Assessment1-Matthew-Bartlett/v17/Solution.VC.db-wal
x64/Debug/FlappyPlane.pdb
x64/Debug/PaintTool++.pdb
x64/Release/FlappyPlane.pdb
x64/Release/PaintTool++.pdb
FlappyPlane/x64/Release/vc143.pdb
FlappyPlane/x64/Release/FlappyPlane.tlog/link.write.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/link.secondary.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/link.read.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/link.command.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/FlappyPlane.lastbuildstate
FlappyPlane/x64/Release/FlappyPlane.tlog/CL.write.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/CL.read.1.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/Cl.items.tlog
FlappyPlane/x64/Release/FlappyPlane.tlog/CL.command.1.tlog
FlappyPlane/x64/Release/FlappyPlane.log
FlappyPlane/x64/Release/FlappyPlane.ipdb
FlappyPlane/x64/Release/FlappyPlane.iobj
FlappyPlane/x64/Release/FlappyPlane.exe.recipe
FlappyPlane/x64/Debug/vc143.pdb
FlappyPlane/x64/Debug/vc143.idb
FlappyPlane/x64/Debug/FlappyPlane.vcxproj.FileListAbsolute.txt
FlappyPlane/x64/Debug/FlappyPlane.tlog/link.write.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/link.secondary.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/link.read.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/link.command.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/FlappyPlane.lastbuildstate
FlappyPlane/x64/Debug/FlappyPlane.tlog/CL.write.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/CL.read.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/Cl.items.tlog
FlappyPlane/x64/Debug/FlappyPlane.tlog/CL.command.1.tlog
FlappyPlane/x64/Debug/FlappyPlane.log
FlappyPlane/x64/Debug/FlappyPlane.ilk
FlappyPlane/x64/Debug/FlappyPlane.exe.recipe
FlappyPlane/x64/Debug/FlappyPlane.Build.CppClean.log
*.ipch
*.vsidx
